@import url('https://fonts.googleapis.com/css?family=Tajawal:300&display=swap&subset=arabic');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Tajawal";
    font-weight: 600;
    color: #d2d2d5;
    position: relative;
    overflow: hidden;
}

.dialogue-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 480px;
    background: linear-gradient(158deg, rgba(31, 69, 91, 255) 0%, rgba(68, 58, 41, 255) 100%);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    border-right: 1px solid #303030;
    animation: slideInFadeIn 0.5s ease forwards;
}

.dialogue-wrapper::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid rgba(83, 83, 83, 0.7);
    pointer-events: none;
    box-sizing: border-box;
}

@keyframes slideInFadeIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutFadeOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.header-section {
    margin-bottom: 20px;
}

.dialogue-title {
    font-size: 26px;
    color: #00f8b9;
    margin-bottom: 5px;
    text-shadow: 0 0 10px #00f8bac1, 0 0 20px #00f8ba66, 0 0 30px #00f8ba83, 0 0 40px #00f8ba80;
}

.rep-wrapper {
    background-color: rgba(0, 248, 186, 0.193);
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 30px;
}

.position-wrapper {
    background-color: rgba(0, 248, 186, 0.193);
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0px;
}

.rep-text,
.position-text {
    font-size: 14px;
    color: #00f8b9;
    margin: 0;
}

.content-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.content-wrapper .dialogue-title,
.content-wrapper .position-wrapper {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.position-text p {
    margin: 0;
}

.dialogue-content {
    background: radial-gradient(111.65% 77.01% at 49.73% 50.27%, hsla(0, 0%, 100%, 0.19) 0%, hsla(0, 0%, 100%, 0) 100%);
    padding: 20px; 
    border-radius: 3px;
    font-size: 16px; 
    line-height: 1.5; 
    color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-shadow: 0 .37037vh 2.59259vh rgba(0, 248, 185, .55);
    margin-bottom: 10px;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.action-button {
    background: linear-gradient(to top, #25473e, #28534c);
    color: #c1c5c5;
    padding: 12px 20px;
    text-align: left;
    cursor: pointer;
    border-radius: 0;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50px;
    transition: background 0.3s, color 0.3s;
    border: 1px solid rgba(0, 248, 186, 0.193);
    box-shadow: none;
    padding-left: 60px;
}

.action-button span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #1b453b;
    padding: 4px 8px;
    border-radius: 4px;
    color: #11b58a;
    flex-shrink: 0;
    transition: color 0.3s;
}

.action-button:hover {
    color: #ffffff;
    background: linear-gradient(to top, #2c5f54, #306b63);
}

.action-button.disabled {
    background: linear-gradient(to top, #1e3e34, #23433e);
    color: #a1a1a1;
    cursor: not-allowed;
    border: 1px solid rgba(0, 248, 186, 0.1);
}

.action-button:hover span {
    color: #fff;
}

@media only screen and (min-height: 1440px) and (min-width: 2560px) {
    .dialogue-wrapper {
        width: 25%;
        color: white;
    }

    .rep-wrapper,
    .position-wrapper {
        background-color: rgba(0, 248, 186, 0.193);
        padding: 4px 8px;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 0px;
    }

    .rep-text,
    .position-text {
        font-size: 20px;
        color: #00f8b9;
        margin: 0;
    }

    .dialogue-title {
        font-size: 42px;
        color: #00f8b9;
        margin-bottom: 5px;
        text-shadow: 0 0 10px #00f8bac1, 0 0 20px #00f8ba66, 0 0 30px #00f8ba83, 0 0 40px #00f8ba80;
    }

    .dialogue-content {
        background: rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 1.8;
    }

    .action-button {
        padding: 12px;
        font-size: 24px;
        padding-left: 70px; 
    }

    .action-button span {
        left: 10px;
        padding: 6px 12px;
        font-size: 20px;
    }
}
